.wrapper {
    .top_navbar {
        width: 100vw;
        height: 65px;
        display: flex;
        position: fixed;
        z-index: 150;
      
        .logo img {
            width: 65px;
            height: 100%;
            background: #92a6e2;
            padding: 13px 13px;
            cursor: pointer;
        }

        .top_menu {
            width: calc(100% - 65px);
            height: 100%;
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);

            .nav_title {

                div {
                    color: #202020;
                    font-size: 19px;
                    font-weight: 600;
                  }

                span {
                    color: #8b8b8b;
                    font-size: 13px;
                }

            }
            
            ul {
                display: flex;

                li a {
                    display: block;
                    margin: 0 10px;
                    font-size: 20px;
                    background-color: #eceaea;
                    width: 35px;
                    height: 35px;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 50%;
                    color: #4a4684;

                    &:hover {
                        background: #000000;
                        color: rgb(255, 14, 14);

                        i {
                            color: rgb(216, 0, 0);
                          }
                      }
                  }
              }
          }
    }
}
  